body {
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://source.unsplash.com/random/700%C3%9400/?suez") ;
    background-size: auto ;
  padding: 0;
 
 
}

.card {
    /* background: #000000d0; */
    color: white;
    padding: 2em;
    /* border-radius: 30px; */
    width: 100%;
    max-width: 300px;
    margin: 1em;
    background: rgba(12, 12, 12, 0.66);
    border-radius: 35px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(12, 12, 12, 0.39);
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn {
    margin: 0.5em;
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 40%;
    border: none;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    
    background-color: #7c7c7c6b;
  
}
input.search {
    border-radius: 17px;
    border: none;
    outline: none;
    background-color: #7c7c7c2b;
    padding: 0.5em 1em;
    font-size: 120%;
    color: white;
}
.info {
    background: rgba(107, 113, 226, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(107, 113, 226, 0.49);
    padding: 12px;
}
.describtion{
    margin-bottom: 0.5em;
}

.humidity{
    margin-bottom: 0.5em;
}
.pressure{
    margin-bottom: 0.5em;
}
.footer {
    background-color: #000000d0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  
}
.cridet{
    color: white;
}
.twitter{
    color: #1DA1F2;
    margin-left: 6px;
}
.linkedin{
    color: #0A66C2;
    margin-left: 6px;
}
.logo {
    text-align: center;
    color: white;
    background-color: #000000d0;
    padding: 6px;
    font-weight: bold;
    padding: 6px 94px;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn {
    /* background: #000000d0; */
    color: white;
    /* padding: 9px; */
    /* border-radius: 30px; */
    outline: none;
    border: none;
    margin: 1em;
    transition: 0.2s ease-in-out;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 30px;
    font-weight: bold;
    background: rgba(12, 12, 12, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(12, 12, 12, 0.39);
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80vh; */
}
.btns {
    display: flex;
    justify-content: center;
}
